<!DOCTYPE html>
<html>

<head>
  <title>
    登录
  </title>
  <style type="text/css">
    p {
      /*设置样式：字体和背景色*/
      font-family: System;
      font-size: 18px;
      color: #3333CC;
    }

    h2 {
      background-color: #CCFF33;
      text-align: center;
    }

    .myinput {
      font-size: 30px;
      font-family: Verdana, Arial, '宋体';
    }

  </style>
</head>

<body>
  <!-- body其他属性: bgcolor text link alink vlink bgcolor leftmargin topmargin-->
  <h2>品种特征方面：</h2>
  <p>软件协会 </p>
  <p>文字</p>
  <center>
    <h1>登录</h1>
  </center>
  <p><b>粗体</b></p>
  <p><i>斜体</i></p>
  <p><u>下划线</u></p>
  <p><s>中划线</s></p>
  <p>
    <blink>闪烁</blink>
  </p>
  <a href="/login" target="_blank"> 登录 </a>
  <table style="BORDER-COLLAPSE: collapse" width="700" align="center" class="myinput">
    <thead>
      <caption>登录</caption>
    </thead>
    <tr>
      <td>username</td>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>学校</td>
      <td><a href="">北京大学</a></td>
    </tr>
    <tr>
      <td>教育经历</td>
      <td colspan="2">
        <ul>
          <li>2000年上小学</li>
          <li>2006年上中学</li>
          <li>2012年上大学</li>
        </ul>
      </td>
    </tr>
  </table>
</body>

</html>