{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
  <h2>帖子</h2>
  <div class="card">
    <div class="card-body">
      <p class="card-text">标题:  {{post_info["PostTitle"]}}</p>
      <p> </p>
      <p class="card-text">内容: {{post_info["Content"]}} </p>
      <p> </p>
      <p class="card-text">时间:  {{post_info["Post time"]}}</p>
      <p class="card-text">用户:  {{post_info["User"]}}</p>

      <div class="card-text row-thin">
        <span id="follow_msg"></span>
      </div>
      <div class="card-text" id="follow">
        {% if followed %}
        <button id="disFollowButton" class="btn btn-secondary"
          onclick="disfollow({{post_info['User ID']}})">已关注</button>
        {% else %}
        <button id="followButton" class="btn btn-primary" onclick="follow({{post_info['User ID']}})">+关注</button>
        {% endif %}
      </div>
    </div>
  </div>

</div>


<script>
  function follow(target) {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/follow', true);
    xhr.setRequestHeader('Content-Type', 'application/json');

    xhr.onreadystatechange = function () {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
          var response = JSON.parse(xhr.responseText);
          if (response.success) {
            // Signup success logic
            console.log('Follow successful');
            document.getElementById('follow_msg').textContent = '';
            // You can redirect the user or perform other actions here
            document.getElementById("follow").innerHTML = `
              <button id="disFollowButton" class="btn btn-secondary" onclick="disfollow({{post_info['User ID']}})">已关注</button>
            `;
          }
          else {
            var error_message = response.error;
            document.getElementById('follow_msg').textContent = error_message;
            if (response.error == '您已关注') {
              // You can redirect the user or perform other actions here
              document.getElementById("follow").innerHTML = `
                <button id="disFollowButton" class="btn btn-secondary" onclick="disfollow({{post_info['User ID']}})">已关注</button>
              `;
            }
          }
        } else {
          // Handle non-200 response
          console.log('Reply request failed with status: ' + xhr.status);
        }
      }
    };

    var data = {
      targetid: target
      // add uid here
    };

    xhr.send(JSON.stringify(data));
  }

  function disfollow(target) {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/disfollow', true);
    xhr.setRequestHeader('Content-Type', 'application/json');

    xhr.onreadystatechange = function () {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
          var response = JSON.parse(xhr.responseText);
          if (response.success) {
            // Signup success logic
            console.log('Disfollow successful');
            document.getElementById('follow_msg').textContent = '';
            // You can redirect the user or perform other actions here
            document.getElementById("follow").innerHTML = `
            <button id="followButton" class="btn btn-primary" onclick="follow({{post_info['User ID']}})">+关注</button>
            `;
          }
          else {
            var error_message = response.error;
            document.getElementById('follow_msg').textContent = error_message;
            if (response.error == '您未关注') {
              // You can redirect the user or perform other actions here
              document.getElementById("follow").innerHTML = `
                <button id="followButton" class="btn btn-primary" onclick="follow({{post_info['User ID']}})">+关注</button>
              `;
            }
          }
        } else {
          // Handle non-200 response
          console.log('Reply request failed with status: ' + xhr.status);
        }
      }
    };

    var data = {
      targetid: target
      // add uid here
    };

    xhr.send(JSON.stringify(data));
  }
</script>



<!-- 主要内容 -->
<div class="container mt-4">
  <h2>回复</h2>
  {% for reply_id, reply_info in replys.items() %}
  <div class="card">
    <div class="card-body">
      <p class="card-text">回复：{{ reply_info['Time'] }}</p>
      <p class="card-text">时间: {{ reply_info['Content'] }}</p>
      <p class="card-text">用户: {{ reply_info['User'] }}</p>
    </div>
  </div>
  {% endfor %}
</div>

<div class="container mt-4">
  <div class="card">
    <div id="replySection">
      <div class="card-body">
        <button id="replyButton" class="btn btn-primary" onclick="showReplyForm()">我要回帖</button>
      </div>
    </div>
  </div>

  <script>
    function showReplyForm() {
      // Replace the reply button with the reply form
      document.getElementById("replySection").innerHTML = `
        <div class="card-body">
          <textarea id="replyText" class="card-text reply-textarea" placeholder="请输入内容"></textarea>
        </div>
        <div class="card-body">
        <div class="row-thin">
          <span id="msg"></span>
        </div>
      </div>
        <div class="card-body">
          <button class="btn btn-primary" onclick="postReply('{{ pid }}','{{ uid }}')">发布</button>
          <button class="btn btn-secondary" onclick="cancelReply()">取消</button>
        </div>
      `;
    }

    function postReply(pid, uid) {
      // Get the reply text from the textarea and send a request to the server
      var replyText = document.getElementById("replyText").value;
      // Send the reply text to the server using XMLHttpRequest or fetch
      if (replyText == '') {
        document.getElementById('msg').textContent = '内容不能为空';
        return;
      }

      document.getElementById('msg').textContent = '';
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/reply', true);
      xhr.setRequestHeader('Content-Type', 'application/json');

      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);
            if (response.success) {
              // Signup success logic
              console.log('Reply successful');
              // You can redirect the user or perform other actions here
              window.location.href = '/post/' + pid;
            } else {
              // Signup error logic
              var error_message = response.error;
              document.getElementById('msg').textContent = error_message;
            }
          } else {
            // Handle non-200 response
            console.log('Reply request failed with status: ' + xhr.status);
          }
        }
      };

      var data = {
        replyText: replyText,
        pid: pid,
        uid: uid
        // add uid here
      };

      xhr.send(JSON.stringify(data));
    }

    function cancelReply() {
      // Reset the page to the original form
      resetReplyForm();
    }

    function resetReplyForm() {
      // Replace the reply form with the reply button
      document.getElementById("replySection").innerHTML = `
        <div class="card-body">
          <button id="replyButton" class="btn btn-primary" onclick="showReplyForm()">我要回帖</button>
        </div>
      `;
    }
  </script>

  <style>
    .reply-textarea {
      width: 100%;
      height: 200px;
      resize: vertical;
    }
  </style>

</div>

{% endblock %}